{% set surveillance_mode = "exclude" -%}
surveillance_mode: {{ surveillance_mode }}


{% set excluded_entities = [
  'binary_sensor.studio_code_server_lauft',
  'binary_sensor.samba_share_lauft',
  'binary_sensor.portainer_lauft',
  'binary_sensor.portainer_agent_lauft',
  'binary_sensor.esphome_lauft']
-%}
excluded_entities: {{ excluded_entities }}


{% set manual_list = [
  'binary_sensor.toogoodtogo_home_assistant_mqtt_bridge_lauft',
  'binary_sensor.home_assistant_google_drive_backup_lauft',
  'binary_sensor.zigbee2mqtt_lauft',
  'binary_sensor.go2rtc_lauft',
  'binary_sensor.netatmo_favorites_weather_stations_lauft',
  'binary_sensor.mosquitto_broker_lauft',
  'binary_sensor.openccu_aktiv',
  'binary_sensor.mariadb_lauft']
-%}
manual_list: {{ manual_list }}


{% set all_running_sensors = integration_entities('hassio')
   |select('is_state_attr', 'device_class', 'running')|list -%}
all_running_sensors: {{ all_running_sensors }}

{% set not_running = namespace(entities=[]) -%}
{% for sensor in all_running_sensors -%}
  {% if is_state(sensor, 'off') -%}
    {% set not_running.entities = not_running.entities + [sensor] -%}
  {% endif -%}
{% endfor -%}
not_running: {{ not_running.entities }}

{% set trigger_list = namespace(entities=[]) -%}
{% if surveillance_mode == "all" -%}
  {% set trigger_list.entities = not_running.entities|list -%}
{% elif surveillance_mode == "exclude" -%}
  {% for sensor in not_running.entities|list -%}
    {% if sensor not in excluded_entities -%}
      {% set trigger_list.entities = trigger_list.entities + [sensor] -%}
    {% endif -%}
  {% endfor -%}
{% elif surveillance_mode == "manual" -%}
  {% for sensor in not_running.entities|list -%}
    {% if sensor in manual_selection -%}
      {% set trigger_list.entities = trigger_list.entities + [sensor] -%}
    {% endif -%}
  {% endfor -%}
{% endif -%}
trigger_list: {{ trigger_list.entities }}

{{ trigger_list.entities|count > 0 }}


notification_message:
{% for sensor in trigger_list.entities|list -%} 
• {{ device_name(sensor) }} {% if not loop.last %}<br>{% endif %}
{% endfor -%}
